@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #f6c90e;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #0f0e0e;
}

.container {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.brand {
  text-align: center;
  font-size: 4rem;
  color: #eeee;
  margin-bottom: 30px;
}

form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #eeee;
  border-radius: 4px;
}

form input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
}

.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  overflow: hidden;
  background-color: #252525;
}

.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.item .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .title {
  color: #eeee;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.view-button {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #1a1a1b;
  color: #ffd369;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 20px;
  align-self: flex-start;
}

.item-data {
  color: #eeee;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd369;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(#ffd369, 50);
}
